body{
    background-image: url(./image/coucher-lever-soleil-dans-ocean-paysage-naturel_33099-2244.png);
    background-size: 100%;

}
header{
    color: aliceblue;
    margin: 1em;
}
nav{
    margin: 2em;
}
a:link, a:visited {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(85, 181, 185);
    color: white;
  }
